streamlit>=1.42
Authlib>=1.3.2
pandas
numpy
openpyxl
extract_msg
spacy
scikit-learn
xlsxwriter
https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.0/nl_core_news_sm-3.8.0-py3-none-any.whl
matplotlib
scipy
